/* 
 ========= Credits =========
 color scheme from:
 https://colorhunt.co/palette/2057814f959d98d2c0f6f8d5

 =========== Font ==========
 from https://www.dafont.com/vcr-osd-mono.font 
*/
/**/
@font-face {
    font-family: Ocean_Drive;
    src: url(fonts/OceanDriveDemoRegular.ttf);
}
/**/

/*
 == Navigation formatting ==
*/
#internal {
    position: sticky;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    height: 3em;
}

#internal>p {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 3em;
    z-index: -5;
    background-color: #C7FFEA;
}

#internal > *:first-child{
    visibility: hidden;
    display: none;
}

.navbar {
    padding: 0;
    height:100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar li {
    width: fit-content;
    height: 100%;
    padding: 0px 10px;
    display: block;
    z-index: 100;
}

.navbar li > a{
    display: inline-block;
    padding: 1em;
    color: #240750;
    text-align: center;
    text-decoration: none;
}

li:hover {
    background-color: #5FB3B1;
    color: #F6F8D5;
}

#external{
    padding: 0px;
    margin: 0px;
}
#external > div{
    overflow: scroll;
    display: grid;
    gap: 0px;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: 3.3em;
    justify-content: space-evenly;
}

#external button {
    margin: 0px;
    padding: 1em;
    width: fit-content;
    display: inline;
    z-index: 0;
    font-family: Pixel_Font, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    transition-duration: 0.2s;
    color: #240750;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    display: block;
    text-align: center;
    text-decoration: none;
}

#external button:hover {
    background-color: #5FB3B1;
    color: #F6F8D5;
}

/*
 ===== Everything else =====
*/
/* == General == */
html{
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: #7AA7AE;
    background-image: linear-gradient(#C7FFEA, #83DDCD, #5FB3B1, #3B6073, #26344A, #1C232E);
    height: 100vh;
    overflow: hidden;
}

.section{
    opacity:1;
    position: absolute;
    width: 100%;
}

.section.activeSection{
    opacity: 1;
    transform: translateX(0%);
    animation: slideIn 0.375s;
}

.section > * {
    display: block;
    align-self: auto;
    margin: 10px 20px;
    background-color: #C7FFEA;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
}

p>h1,
p>h2,
p>h3,
p>h4 {
    float: left;
}

#internalHBMenu{
    image-rendering: pixelated;
    position: fixed;
    top: 10px;
    right:10px;
    height: 39px;
    width: 42px;
    display: none;
}

/*  */
html {
    scroll-padding-top: 3em;
    /* Adjust to navbar height */
}

/* Selecting the first header on the page */
body>header:first-child {
    position: absolute;
    background-color: #B4F3FF;
    background-image: linear-gradient(#59D3FF, #B4F3FF, #FFFFFF);
    text-align: center;
    display: block;
    width: 100%;
    top: 0;
    margin: 0;
    color: #240750;
}

/**/
body>header:first-child>h1 {
    font-family: Ocean_Drive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    margin: 1em;
    padding: 0;
    height: 1em;
    vertical-align: middle;
}

body>header:first-child>p {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    height: 6em;
}

.spacer1 {
    font-family: Ocean_Drive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    margin: 0;
    padding: 0;
    display: block;
    z-index: -1;
    height: 3em
}

.spacer3 {
    margin: 0;
    padding: 0;
    display: block;
    z-index: -1;
    height: 3em
}

footer{
    overflow: auto;
    padding: 0;
}

footer > *{
    float: left;
    margin: 10px;
}

/* == Images === */

#mobileQR{
    float: right;
    width: 100px;
    height: 100px;
    image-rendering: pixelated;
}

#fishhook{
    width: 300px;
    image-rendering: pixelated;
    margin-bottom: 5px;
}

/* captions */
small {
    color:#5FB3B1;
}

/* For frames around images */
.visual-frame {
    text-align: center;
    display: inline;
    align-self: auto;
    margin: 10px;
    background-color:#3B6073;
    padding: 10px;
    border-radius: 10px;
}

.visual-frame>* {
    display: block;
    margin: auto;
    text-align: center;
}

/* == Flexboxes ==*/
/* superclasses for flex containers*/
.rowflex {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.revrowflex {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

/* == General Classes == */
/* Float classes */
.floatr {
    float: right;
}

.floatl {
    float: left;
}

.clearfloat {
    clear: both;
    overflow: auto;
}

/* == animations == */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* === Media Queries === */
/* Mobile Breakpoint */
@media (max-width: 800px) {
    /*
    Change the flex box into a column 
    instead of a row based on viewport
    size
    */
    .flex {
        flex-direction: column;
    }


    #mobileQR{
        display: none;
    }
    body>header:first-child>p {
        height: 3em;
    }
    #internalHBMenu{
        display: block;
    }

    /* navbar stuff*/
    .navbar{
        flex-direction: column;
        display: none;
        justify-content:flex-start;
    }

    #internal {
        position: fixed;
        right: -250px;
        overflow-x: hidden;
        height: 100%;
        width: 250px;
        transition: right 1s ;
    }

    #internal > *:first-child{
        display: none;
    }

    #internal>p {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .navbar li {
        height: fit-content;
        width: 100%;
        padding: 0px 10px;
        display: block;
        z-index: 100;
    }

    /*
    .navbar li > a{
        display: inline-block;
        padding: 1em;
        color: #240750;
        text-align: center;
        text-decoration: none;
    }
    */


}